/* Remove padding and margin */

* {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: "Montserrat", sans-serif;
}

body {
  background-color: #e6e6e6;
  margin: 0;
  padding: 0;
}

a {
  color: black;
  font-size: 26px;
}

a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
}

.header {
  width: 100vw;
}

.header-title {
  font-family: "Montserrat", sans-serif;
  margin: 0 auto;
  text-align: center;
  background-color: #fff;
  padding: 20px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}

h1 {
  font-size: 50px;
}

.main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 0px;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.main-btn-right,
.main-btn-left {
  /* flex: 0 0 20%; */
  padding: 55px 65px;
  background-color: rgb(252, 252, 252);
  border: 1px solid #ccc;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.3);
  margin: 0 25px;
  text-decoration: none;
  color: #eee;
  font-size: 24px;
  font-weight: 700;
  border-radius: 20px;
  /* display: flex;
  justify-content: center;
  align-items: center; */
  /* display: inline-block; */
}

label {
  margin-left: 30px;
}

input {
  line-height: 24px;
  border: 1px solid rgb(187, 187, 187);
  margin-bottom: 5px;
  border-radius: 2px;
}

/* event post grid */

.post-event {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(7, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 14px;
  max-width: 600px;
  margin-left: 100px;
  margin-top: 60px;
}

footer {
  margin-top: auto;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 10px 0;
  text-align: center;
  vertical-align: auto;
  background-color: #fff;
  box-shadow: 2px 0px 4px rgba(0, 0, 0, 0.2);
}

.copyright-symbol {
  width: 12px;
  font-size: 11px;
  position: relative;
  bottom: 10px;
}

.grid-position1 {
  grid-area: 1 / 1 / 2 / 2;
}
.grid-position2 {
  grid-area: 1 / 2 / 2 / 3;
}
.grid-position3 {
  grid-area: 1 / 3 / 2 / 4;
}
.grid-position4 {
  grid-area: 1 / 4 / 2 / 5;
}
.grid-position5 {
  grid-area: 2 / 1 / 3 / 2;
}
.grid-position6 {
  grid-area: 2 / 2 / 3 / 3;
}
.grid-position7 {
  grid-area: 2 / 3 / 3 / 4;
}
.grid-position8 {
  grid-area: 2 / 4 / 3 / 5;
}
.grid-position9 {
  grid-area: 3 / 1 / 4 / 2;
}
.grid-position10 {
  grid-area: 3 / 2 / 4 / 3;
}
.grid-position11 {
  grid-area: 3 / 3 / 4 / 4;
}
.grid-position12 {
  grid-area: 3 / 4 / 4 / 5;
}
.grid-position13 {
  grid-area: 4 / 1 / 5 / 2;
}
.grid-position14 {
  grid-area: 4 / 2 / 5 / 3;
}
.grid-position15 {
  grid-area: 4 / 3 / 5 / 4;
}
.grid-position16 {
  grid-area: 4 / 4 / 5 / 5;
}
.grid-position17 {
  grid-area: 5 / 1 / 6 / 2;
}
.grid-position18 {
  grid-area: 5 / 2 / 6 / 3;
}
.grid-position19 {
  grid-area: 5 / 3 / 6 / 4;
}
.grid-position20 {
  grid-area: 5 / 4 / 6 / 5;
}
.grid-position21 {
  grid-area: 6 / 1 / 7 / 2;
}
.grid-position22 {
  grid-area: 6 / 2 / 7 / 3;
}
.grid-position23 {
  grid-area: 6 / 3 / 7 / 4;
}
.grid-position24 {
  grid-area: 6 / 4 / 7 / 5;
}
.grid-position25 {
  grid-area: 7 / 1 / 8 / 2;
}
.grid-position26 {
  grid-area: 7 / 2 / 8 / 3;
}
.grid-position27 {
  grid-area: 7 / 3 / 8 / 4;
}
.grid-position28 {
  grid-area: 7 / 4 / 8 / 5;
}

/* event post grid */
