/* Remove padding and margin */

* {
  font-family: "Roboto Mono", monospace;
  margin: 0;
  padding: 0;
  border: 0;
}

a {
  color: black;
  font-size: 26px;
}

a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
}

button {
  padding: 15px 25px;
  background-color: rgb(240, 240, 240);
}
